<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="css/site.css">

    <title>Edit Members</title>
  </head>
  <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="index.html">OCFR</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Members</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="memberInfo.html">View User Info</a>
              <a class="dropdown-item" href="alterMembers.html">Edit/Delete Members</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Certifications</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="alterCertifications.html">Alter Certifications</a>
              <a class="dropdown-item" href="certificateInfo.html">Certificate Info</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Report</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="filterCert.html">Filter Certifications</a>
              <a class="dropdown-item" href="memberList.html">Member List</a>
            </div>
          </li>
        </div>

        </li>
      </ul>
    </div>
  </nav>
  </header>
  <body>

<div id = "peopleApp" >
  <div class = "container">
    <h1> Alter Member Records </h1>
    <hr>
  <form @submit.prevent = "handleSubmit">
  <div class = "row">

    <div class="form-group col-5">
      <label for="firstName">First Name</label>
      <input type="name" class="form-control" id="firstname" placeholder="Enter First Name" v-model="recordPeople.firstName">
    </div>

    <div class="form-group col-5">
      <label for="lastName">Last Name</label>
      <input type="name" class="form-control" id="lastname" placeholder="Enter Last Name" v-model="recordPeople.lastName">
    </div>

    <div class="form-group col-2">
      <label for="lastName">Gender</label>
      <input type="name" class="form-control" id="gender" placeholder="Enter Gender" v-model="recordPeople.gender">
    </div>

  </div>

  <div class = "row">

    <div class="form-group col-4">
      <label for="dob">Date of Birth</label>
      <input class="form-control" id="dob" placeholder="0000-00-00" v-model="recordPeople.dob">
    </div>


    <div class="form-group col-4">
      <label for="phoneNumber">Phone Number</label>
      <input class="form-control" id="phoneNumber" placeholder="Enter Phone Number" v-model="recordPeople.phoneNumber">
    </div>

    <div class="form-group col-4">
      <label for="email">Email Address</label>
      <input type="email" class="form-control" id="email" placeholder="Enter Email" v-model="recordPeople.email">
    </div>

  </div>

  <div class = "row">

    <div class="form-group col-12">
      <label for="address">Address</label>
      <input class="form-control" id="address" placeholder="Enter Address" v-model="recordPeople.address">
    </div>

  </div>

  <div class = "row">
    <div class="form-group col-4">
      <label for="station">Station</label>
      <input class="form-control" id="station" placeholder="Enter Station" v-model="recordPeople.stationName">
    </div>

    <div class="form-group col-4">
      <label for="position">Position</label>
      <input class="form-control" id="position" placeholder="Enter Position" v-model="recordPeople.position">
    </div>

    <div class="form-group col-4">
      <label for="radio">Radio</label>
      <input class="form-control" id="radio" placeholder="Enter Radio Number" v-model="recordPeople.radio">
    </div>

  </div>
  <br>
  <button type="submit" class="btn btn-primary">Add User</button>
  <hr>
  </div>

  </form>

    <div class= "container" >
        <table class="table table-dark">
          <thead>
            <tr>
              <th scope="col">PersonID</th>
              <th scope="col">First</th>
              <th scope="col">Last</th>
              <th scope="col">Email</th>
              <th scope="col">Radio#</th>
              <th scope="col">Station</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for= "p in people" @click = "handleRowClick(p)">
              <td>{{p.personID}}</td>
              <td>{{p.firstName}}</td>
              <td>{{p.lastName}}</td>
              <td>{{p.email}}</td>
              <td>{{p.radio}}</td>
              <td>{{p.stationName}}</td>
            </th>
            </tr>
          </tbody>
        </table>
    </div>
  </div>
<br>
<hr>

<div id = "peopleEditApp">
    <div class = "container">
    <form>
    <div class = "row">
      <div class="form-group col-2">
        <label for="personID">PersonID</label>
        <input type="name" class="form-control" id="editlastname" v-model="people.personID" readonly>
      </div>

      <div class="form-group col-5">
        <label for="editfirstName">First Name</label>
        <input type="name" class="form-control" id="editfirstname" placeholder="Enter First Name" v-model="people.firstName">
      </div>

      <div class="form-group col-5">
        <label for="editlastName">Last Name</label>
        <input type="name" class="form-control" id="editlastname" placeholder="Enter Last Name" v-model="people.lastName">
      </div>
    </div>

    <div class= "row">
      <div class="form-group col-2">
        <label for="editGender">Gender</label>
        <input type="name" class="form-control" id="editgender" placeholder="Enter Gender" v-model="people.gender">
      </div>

      <div class="form-group col-4">
        <label for="editdob">Date of Birth</label>
        <input class="form-control" id="editdob" placeholder="Enter DOB" v-model="people.dob">
      </div>

      <div class="form-group col-6">
        <label for="editphoneNumber">Phone Number</label>
        <input class="form-control" id="editphoneNumber" placeholder="Enter Phone Number" v-model="people.phoneNumber">
      </div>
    </div>

    <div class = "row">

      <div class="form-group col-6">
        <label for="editemail">Email Address</label>
        <input type="email" class="form-control" id="editEmail" placeholder="Enter Email" v-model="people.email">
      </div>

      <div class="form-group col-6">
        <label for="editaddress">Address</label>
        <input class="form-control" id="editaddress" placeholder="Enter Address" v-model="people.address">
      </div>

    </div>

    <div class = "row">

      <div class="form-group col-4">
        <label for="editstation">Station</label>
        <input class="form-control" id="editstation" placeholder="Enter Station" v-model="people.stationName">
      </div>

      <div class="form-group col-4">
        <label for="editposition">Position</label>
        <input class="form-control" id="editposition" placeholder="Enter Position" v-model="people.position">
      </div>


      <div class="form-group col-4">
        <label for="editradioNumber">Radio Number</label>
        <input class="form-control" id="editradionumber" placeholder="Enter Radio Number" v-model="people.radio">
      </div>

    </div>

        <br>
        <button v-on:click.prevent ="handleSubmit" type="submit" class="btn btn-primary">Save Edits</button>
        <button style = "float: right" v-on:click ="handleDelete" type="submit" class="btn btn-primary">Delete User</button>
        <hr>
    </div>
    </form>
  </div>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/people.app.js"></script>
    <script src="js/edit.app.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
