<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="css/site.css">

    <title>Edit Members</title>
  </head>
  <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="index.html">OCFR</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Members</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="memberInfo.html">View User Info</a>
              <a class="dropdown-item" href="alterMembers.html">Edit/Delete Members</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Certifications</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="alterCertifications.html">Alter Certifications</a>
              <a class="dropdown-item" href="certificateInfo.html">Certificate Info</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Report</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="filterCert.html">Filter Certifications</a>
              <a class="dropdown-item" href="memberList.html">Member List</a>
            </div>
          </li>
        </div>

        </li>
      </ul>
    </div>
  </nav>
  </header>
  <body>

<div id = "certificationApp">
  <div class = "container">
    <h1> Alter Certification Records </h1>
    <hr>
  <form>
    <div class="form-group">
      Certification ID
      <input type="name" class="form-control" id="editlastname" v-model="certification.certificateID" readonly>
    </div>

    <div class="form-group">
      <label for="certName">Certification Name</label>
      <input type="name" class="form-control" id="certName" placeholder="Enter Certification Name" v-model="certification.certName" required>
    </div>

    <div class="form-group">
      <label for="agency">Agency</label>
      <input type="name" class="form-control" id="agency" placeholder="Enter Certification Agency" v-model="certification.agency">
    </div>

    <div class="form-group">
      <label for="certificationLength">Length</label>
      <input type="radioNumber" class="form-control" id="certificationLength" placeholder="Enter Certification Length" v-model="certification.certificationLength">
    </div>
      <br>
      <button v-on:click.prevent ="handleAdd" type="submit" class="btn btn-primary">Add User</button>
      <button v-on:click.prevent ="handleEdit" type="submit" class="btn btn-primary">Save Edits</button>
      <button v-on:click.prevent ="handleDelete" type="submit" class="btn btn-primary">Delete Certification</button>
      <hr>
    </div>
  </form>
    <div class= "container" >
        <table class="table table-dark">
          <thead>
            <tr>
              <th scope="col">Certification ID</th>
              <th scope="col">Certification Name</th>
              <th scope="col">Certification Agency</th>
              <th scope="col">Certification Length</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for= "c in certificate" @click = "handleRowClick(c)">
              <td>{{c.certificateID}}</td>
              <td>{{c.certName}}</td>
              <td>{{c.agency}}</td>
              <td>{{c.certificationLength}}</td>
            </th>
            </tr>
          </tbody>
        </table>
    </div>
  </div>
<br>
<hr>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/editCerts.app.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
